.SOGOU-WARNING {
    .warning-list{
        flex: 1;
        
        .ant-table-pagination{
            float: none;
            text-align: center;
            li{
                vertical-align: top;
            }
        }
        .ant-spin-spinning{
            height: 300px;
        }
        .truncation{
            height: 50px;
            width: 200px;
        }
    }
}