.SOGOU-WARNING {
    .warning-list{
        flex: 1;
        
        .ant-table-pagination{
            float: none;
            text-align: center;
            li{
                vertical-align: top;
            }
        }
    }
}